/**
 * Color variables
 */
$border: rgba(0, 0, 0, 0.05);
$light-gray: rgba(0, 0, 0, 0.1);
$gray: rgba(0, 0, 0, 0.2);
$primary: #ff4c7c;
$primary-transparent: rgba(255, 76, 124, 0.3);
$light-primary: #ff668f;
$lighter-primary: #ff82a3;
$lightest-primary: #ffc1d1;
$secondary: #5065ff;
$secondary-dark: #3c4cc1;
$secondary-transparent: rgba(80, 101, 255, 0.3);
