/**
 * Color variables
 */
$border: rgba(0, 0, 0, 0.1);
$primary: #ff4c7c;
$light-primary: #ff668f;
$lighter-primary: #ff82a3;
$lightest-primary: #ffc1d1;
$secondary: #5065ff;
$secondary-transparent: rgba(80, 101, 255, 0.3);
