// Import other stylesheets
@import './strapper';
@import './colors';
@import './nav';
@import './footer';
@import './home';
@import './form';

/**
 * General styling
 */
body {
  overflow-x: hidden !important;
  width: 100vw;
  font-size: 1.2rem;
  background: rgba(0, 5, 10, 0.01);
}

/**
 * Styling squiggles used in some cards
 */
.squiggle-1,
.squiggle-2 {
  left: 1rem;
  position: absolute;
  top: 4.25rem;
  width: 82px;
  height: 16px;
  background: radial-gradient(12px, transparent, transparent 2px, $primary 2px, $primary 5px, transparent 5px);
  background-size: 14px 32px;
  transform: translate(0px, -24px);
  box-sizing: border-box;
}

.squiggle-2 {
  width: 68px;
  left: calc(1rem + 7px);
  transform: translate(0, -8px);
  background-size: 14px 32px;
  background-position: 0px -16px;
}

/**
 * Styling cards
 */
.card {
  border: 0px solid transparent;
  border-radius: 0.2rem;
  padding: 1rem;
  transition: all 0.5s ease;
  box-shadow: -2px 4px 16px rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: -2px 6px 16px rgba(0, 0, 0, 0.15);
    transform: translate(0rem, -0.2rem);
  }

  ul {
    margin-bottom: 0;
  }
}

.card-img {
  border-radius: 0.2rem;
  box-shadow: -1px 2px 14px rgba(0, 0, 0, 0.35);
  transition: all 0.5s ease;

  &:hover {
    transform: translate(0.2rem, -0.3rem);
    box-shadow: -1px 4px 10px rgba(0, 0, 0, 0.425);
  }
}

/**
 * Styling background
 */
.background {
  z-index: -10;
  width: 100%;
  position: absolute;
  top: 0;
  min-height: 100vh;

  .lines {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100vh;

    .line {
      flex: 1;
      border-right: 2px solid $border;
    }

    .line:last-child {
      border-right: 0px solid transparent;
    }
  }
}
